:root {
  --lightbg: #222222;
  --darkbg: #111111;
  --fg: #ffffff;
  --linkfg: #99a2ff;
  --linkHoverfg: #bbbbbb;
  --altcolor: rgba(0, 0, 0, 0.4);
}

body {
  font: 15px/1.5 Arial, Helvetica, sans-serif;
  margin: auto;
  padding: 8px;
  max-width: 1000px;
  background-color: var(--darkbg);
  color: var(--fg);
}

h1 {
  text-align: center;
}

.crypto {
  font-size: small;
  overflow-wrap: break-word;
  text-decoration: none;
}

.emoji {
  max-height: 1em;
  max-width: 1em;
}

.container {
  width: 90%;
  margin: auto;
  overflow: hidden;
}

header {
  background: var(--lightbg);
  padding-top: 30px;
  min-height: 70px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px 3px var(--altcolor);
  margin-bottom: 10px;
}

header a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  color: var(--fg);
}

header ul {
  margin: 0;
  padding: 0;
}

header li {
  float: left;
  display: inline;
  padding: 0 20px 0 20px;
}

header #branding {
  float: left;
}

header #branding h1 {
  margin: 0;
}

header nav {
  float: right;
  margin-top: 10px;
  margin-bottom: 10px;
}

header .current a {
  color: var(--linkfg);
}

header a:hover {
  color: var(--linkfg);
  font-weight: bold;
}

main {
  background: var(--lightbg);
  border-radius: 10px;
  box-shadow: 5px 5px 5px 3px var(--altcolor);
  padding: 1em;
}

main h2 {
  text-align: center;
}

main dl {
  display: block;
  font-size: large;
}

main dt {
  font-weight: bold;
}

main dd {
  margin-inline-start: 20px;
}

main a {
  color: var(--linkfg);
}

main a:hover {
  color: var(--fg);
}

main li i {
  font-weight: bold;
}

main table {
  width: 100%;
}

main caption {
  text-align: left;
  font-weight: bold;
  font-size: large;
}

main table,
main th,
main td {
  border: 1px solid black;
  border-collapse: collapse;
}

main th,
main td {
  padding: 10px;
}

main tr:nth-child(odd) {
  background: var(--altcolor);
}

main pre {
  background: var(--altcolor);
  border: 1px solid black;
  border-radius: 10px;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  padding: 1em;
}

main code {
  color: var(--linkfg);
}

footer {
  text-align: center;
  margin-top: 10px;
}

footer a {
  color: var(--linkfg);
  text-decoration: none;
}

footer a:hover {
  color: var(--fg);
}
